<section class="w-full flex flex-col relative  h-full">

    <div class="hero-bg z-0 self-end"></div>

    <div class="absolute top-20 left-9 w-[300px] md:w-[600px] h-fit p-5 bg-white/75 rounded-xl shadow-md flex flex-col justify-center z-10 backdrop-blur-lg">
        <span class="self-center text-mountain-meadow-500">Novidade do DuBank</span>

        <h2>Venha conhecer o DuBank - o banco que acabou de chegar no Brasil. Simplesmente o mais moderno de Dubai.</h2>

        <p class="text-mountain-meadow-900">Acesse o site e conheça as vantagens de ser nosso cliente, seja você um investidor ou um empreendedor ou então um cliente padrão ouro. O DuBank se destaca pela segurança, transparência e inovação eleito por 5 anos consecutivos como o melhor banco do mundo no quesito rentabilidade e inovação.</p>

        <a href="#">ver mais</a>


    </div>

</section>